@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #f9f9f9;
    /* Soft white background */
    color: #1a1a1a;
    /* Neutral foreground */
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
  }

  /* DEBUG: Forzar visualización de cualquier contenido dentro de #modal-root */
  #modal-root * {
    z-index: 99999 !important;
  }

}